.management-results {
    max-width: 50%;
    margin: auto;
}

.management-results-user {
    border: 2px solid rgb(188, 228, 46);
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px;
}

.management-results-user-results {
    max-width: 70%;
    border-top: 1px solid rgb(61, 228, 46);
    padding: 10px;
    margin-left: 10px;
}

.score {
    text-decoration: underline;
}