<div class="management-results">
    <div class="management-results-user" *ngFor="let user of Data">
        <h6>User: <strong>{{user.firstName}} {{user.lastName}}</strong></h6>
        <h6>Email: <em>{{user.email}}</em></h6>
        <h6>Results:</h6>

        <div class="management-results-user-results" *ngFor="let result of user.results">
            <h6 class="areaName">--{{result.areaName}}--</h6>
            <h6><em>Score: </em><strong class="score">{{result.totalScore}}</strong></h6>
            <h6><em>Date:</em> {{result.date}}</h6>
        </div>
    </div>
</div>