<div class="testing">
    <h4 class="testing-header">Choose your topic:</h4>

    <ul class="testing-areas">
        <li class="testing-areas-item" *ngFor="let area of Areas">
            <a class="testing-areas-item-link" routerLink="/testing/{{area.id}}">{{area.name}}</a>
        </li>
    </ul>
</div>