.testing {
    max-width: 50%;
    margin: auto;
    margin-top: 15px;
}

.testing-header {
    text-align: center;
    margin-bottom: 12%;
}

.testing-areas {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0;
}

.testing-areas-item {
    margin-bottom: 10%;
    padding: 10px;
    border: 1px solid black;
    transition-property: transform, background-color;
    transition-duration: 0.5s;
}

.testing-areas-item:last-child {
    margin-bottom: 0;
}

.testing-areas-item:hover {
    transform: scale(1.1);
    background-color: cornflowerblue;
}

.testing-areas-item-link {
    color: black;
    font-size: 22px;
    font-weight: 450;
    text-decoration: none;
}