html {
    height: 100%;
}

body {
    height: 100%;
}

.container-body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.container-header {
    flex: 0 0 auto;
}

header ul li a {
    font-size: 20px;
}

header ul li a:hover {
    text-decoration: underline;
}

.main-container {
    padding: 20px;
    flex: 1 0 auto;
    box-shadow: 0 0 60px 1px rgb(192, 230, 231);
    border-radius: 5px;
}

footer {
    margin-top: 25px;
    background-color: #212529;
    color: white;
    box-shadow: 0 0 5px black;
    flex: 0 0 auto;
}