.management {
    max-width: 50%;
    margin: auto;
}

.management-header {
    margin-bottom: 5%;
}

.management-filtering{
    border: 3px solid #eaf17d!important;
    padding: 15px;
}

.form-result h5 {
    text-align: center;
}

.management-report {
    margin-top: 15px;
}

.btn-report {
    background-color: rgb(233, 69, 69);
}

.btn-report:hover {
    background-color: rgb(221, 39, 39);
}

.report {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid red;
}

.underline {
    text-decoration: underline;
}