<div class="management">
    <h4 class="management-header">Hello, <strong>{{FirstName}} {{LastName}}</strong>. Here you can find results of
        all users:</h4>
    <div class="management-filtering">
        <form class="form-result" #resultForm="ngForm" (ngSubmit)="getResults(resultForm)">
            <div class="container-fluid">
                <h5 class="form-result-heading">Filtering</h5>
                <br>
                <label for="firstname" class="sr-only">First name</label>
                <input type="text" id="firstname" name="firstname" ngModel class="form-control"
                    placeholder="Write first name">
                <br>
                <label for="lastname" class="sr-only">Last name</label>
                <input type="text" id="lastname" name="lastname" ngModel class="form-control"
                    placeholder="Write last name">
                <br>
                <label for="email" class="sr-only">Email address</label>
                <input type="email" id="email" name="email" ngModel class="form-control" placeholder="Write email">
                <br>
                <div class="form-check" *ngFor="let area of ListOfArea">
                    <input class="form-check-input" type="checkbox" id="a{{area.id}}" name="a{{area.id}}" ngModel>
                    <label class="form-check-label" for="a{{area.id}}">
                        {{area.name}}
                    </label>
                </div>
                <div *ngIf="!validMinMax" class="alert alert-danger">Min result is bigger than max result!</div>
                <br>
                <label for="minResult" class="sr-only">Min result</label>
                <input type="number" id="minResult" name="minResult" ngModel class="form-control" min="0" max="100"
                    placeholder="Write min result">
                <br>
                <label for="maxResult" class="sr-only">Max result</label>
                <input type="number" id="maxResult" name="maxResult" ngModel class="form-control" min="0" max="100"
                    placeholder="Write max result">
                <br>
                <label for="date" class="sr-only">Date</label>
                <input type="date" id="date" name="date" ngModel class="form-control" placeholder="Write date">
                <br>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Filter now</button>
            </div>
        </form>
        <div class="management-report">
            <button class="btn btn-lg btn-primary btn-block btn-report" (click)="generateReport()">Generate
                report</button>
            <div *ngIf="IsLoadedReport" class="report">
                <h6><strong>Data on users for the last week:</strong></h6>
                <h6><em>Users count: </em> <span class="underline">{{Report.usersCount}}</span></h6>
                <h6><em>Results count: </em> <span class="underline">{{Report.resultsCount}}</span> </h6>
            </div>
        </div>
    </div>
</div>

<app-management-results *ngIf="IsLoaded" [dataForm]="Form"></app-management-results>