<form class="form-signup" #signupForm="ngForm" (ngSubmit)="signUp(signupForm)">
    <div class="container-fluid">
        <h2 class="form-signup-heading">Sing up</h2>
        <div *ngIf="!validData" class="alert alert-danger">All fields are required. First name and last name must be
            smaller than 50 symbols. Email must be in right form.</div>
        <br>
        <label for="firstname" class="sr-only">Fisrt name</label>
        <input type="text" id="firstname" name="firstname" ngModel class="form-control" placeholder="Your first name"
            required>
        <br>
        <label for="lastname" class="sr-only">Last name</label>
        <input type="text" id="lastname" name="lastname" ngModel class="form-control" placeholder="Your last name"
            required>
        <br>
        <label for="email" class="sr-only">Email address</label>
        <input type="email" id="email" name="email" ngModel class="form-control" placeholder="Your email" required>
        <br>
        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" name="password" ngModel class="form-control" placeholder="Your password"
            required>
        <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
    </div>
</form>