<div class="container-body">
    <div class="container-header container">
        <header
            class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
            <a class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
                <img src="assets/images/book.png" alt="book">
            </a>
            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li>
                    <a routerLink="/" class="nav-link px-2 link-dark">Home</a>
                </li>
                <li>
                    <a routerLink="testing" class="nav-link px-2 link-dark">Testing</a>
                </li>
                <li>
                    <a routerLink="profile" class="nav-link px-2 link-dark">Profile</a>
                </li>
                <li *ngIf="isUserManager()">
                    <a routerLink="management" class="nav-link px-2 link-dark">Management</a>
                </li>
                <li *ngIf="isUserAdmin()">
                    <a routerLink="administration" class="nav-link px-2 link-dark">Administration</a>
                </li>
            </ul>
            <div class="col-md-3 text-end">
                <button *ngIf="isUserAuthenticated()" (click)="logOut()" routerLink="/" type="button"
                    class="btn btn-outline-primary me-2">Log out</button>
                <button *ngIf="!isUserAuthenticated()" routerLink="login" type="button"
                    class="btn btn-outline-primary me-2">Log in</button>
                <button *ngIf="!isUserAuthenticated()" routerLink="signup" type="button"
                    class="btn btn btn-primary">Sign up</button>
            </div>
        </header>
    </div>

    <div class="main-container container">
        <router-outlet></router-outlet>
    </div>

    <footer class="page-footer font-small">
        <div class="footer-copyright text-center py-3">
            © 2021 Copyright: Danylo Kotiai
        </div>
    </footer>
</div>