.profile {
    max-width: 60%;
    margin: auto;
    margin-top: 15px;
}

.profile-header {
    margin-bottom: 7%;
}

.profile-result {
    border-top: 1px solid #9dc6ee!important;
    border-right: 1px solid #9dc6ee!important;
    border-left: 1px solid #9dc6ee!important;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

.profile-result:last-child {
    border-bottom: 1px solid #9dc6ee!important;
}

.profile-result h5 {
    margin-left: 10px;
}

.profile-score {
    text-decoration: underline;
}

.profile-result-photo {
    height: 30vh;
    overflow: hidden;
    border-radius: 10px;
}

.profile-result-photo img {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    transition: transform 0.5s;
}

.profile-result-photo img:hover{
    transform: scale(1.1);
    cursor: pointer;
}