<div class="profile">
    <h4 class="profile-header">Hello, <strong>{{FirstName}} {{LastName}}</strong>. Here you can find your results:</h4>
    <div class="profile-result" *ngFor="let result of ListOfResults">
        <div class="profile-result-text">
            <h5>{{result.areaName}}</h5>
            <br>
            <h6><em>Score: </em><strong class="profile-score">{{result.totalScore}}</strong></h6>
            <h6><em>Date:</em> {{result.date}}</h6>
        </div>
        <div class="profile-result-photo">
            <img src="assets/images/profile-children.jpg" alt="profile-children">
        </div>
    </div>
</div>