<form class="form-signin" #loginForm="ngForm" (ngSubmit)="login(loginForm)">
    <div class="container-fluid">
        <h2 class="form-signin-heading">Log in</h2>
        <div *ngIf="!validLogin" class="alert alert-danger">Invalid email or password</div>
        <br>
        <label for="email" class="sr-only">Email address</label>
        <input type="email" id="email" name="email" ngModel class="form-control" placeholder="Your email" required>
        <br>
        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" name="password" ngModel class="form-control" placeholder="Your password"
            required>
        <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
    </div>
</form>