<h3 class="header-center">Welcome to the app where you can <strong>test your knowledge</strong>, <strong>find
        gaps</strong> and <strong>improve
        yourself!</strong></h3>
<div class="home-imgs">
    <div class="home-img">
        <img src="assets/images/home-laptop.jpg" alt="home-laptop">
    </div>
    <div class="home-img">
        <img src="assets/images/home-webdesigner.jpg" alt="home-webdesigner">
    </div>
</div>

<div class="home-areas">
    <h4>Here you will find tests on the following topics:</h4>

    <ul class="home-areas-list">
        <li class="home-areas-item" *ngFor="let area of Areas">
            <h5>{{area.name}}</h5>
        </li>
    </ul>

    <h5><em>In order to pass the test you need to sign in to your account.</em></h5>
</div>