.header-center {
    text-align: center;
}

.home-imgs {
    max-width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    border-bottom: 2px solid #dee2e6!important;
}

.home-img {
    height: 40vh;
    width: 50vh;
    overflow: hidden;
    margin: auto;
    border-radius: 10px;
}

.home-img:hover {
    box-shadow: 0 0 5px black;
    cursor: pointer;
}

.home-img img {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
}

.home-areas {
    max-width: 80%;
    margin: auto;
}

.home-areas h4 {
    margin-top: 20px;
}

.home-areas-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-areas h5 {
    font-weight: 450;
}

.home-areas-item h5 {
    text-decoration: underline;
    font-weight: 500;
}
