.administration {
    max-width: 50%;
    margin: auto;
}

.administration-header {
    margin-bottom: 5%;
}

.btn-create {
    background-color: rgb(44, 123, 197);
    color: white;
    margin-bottom: 10px;
}

.btn-create:hover {
    background-color: rgb(54, 138, 218);
    box-shadow: 0 0 5px rgb(54, 138, 218);
}

.create-user {
    margin-bottom: 10px;
}

.administration-user {
    border: 2px solid rgb(65, 65, 201);
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 15px;
}

.administration-user:last-child {
    margin-bottom: 0;
}

.btn-edit {
    background-color: rgb(216, 207, 83);
    color: white;
    margin-bottom: 10px;
    margin-right: 5px;
}

.btn-edit:hover {
    background-color: rgb(247, 235, 76);
    box-shadow: 0 0 5px rgb(247, 235, 76);
}

/* .delete-block {
    display: flex;
} */

.btn-delete {
    background-color: rgb(212, 60, 60);
    color: white;
    margin-bottom: 10px;
    margin-right: 5px;
}

.btn-delete:hover {
    background-color: rgb(177, 47, 47);
    box-shadow: 0 0 5px rgb(177, 47, 47);
}

.delete-warning {
    color: rgb(170, 26, 26);
    display: inline-block;
}

.role {
    margin-bottom: 0;
}

.role-name {
    margin-bottom: 0;
}