<div class="administration">
    <h4 class="administration-header">Hello, <strong>{{FirstName}} {{LastName}}</strong>. Here you can administrate
        all users:</h4>

    <button class="btn btn-lg btn-block btn-create" (click)="showCreating()">Create new user</button>
    <div *ngIf="Creating" class="create-user">
        <form class="form-creating" #creatingForm="ngForm" (ngSubmit)="createUser(creatingForm)">
            <div class="container-fluid">
                <div *ngIf="!validDataForCreating" class="alert alert-danger">Invalid email or password.</div>
                <br>
                <label for="firstname" class="sr-only">Fisrt name</label>
                <input type="text" id="firstname" name="firstname" ngModel class="form-control"
                    placeholder="Your first name">
                <br>
                <label for="lastname" class="sr-only">Last name</label>
                <input type="text" id="lastname" name="lastname" ngModel class="form-control"
                    placeholder="Your last name">
                <br>
                <label for="email" class="sr-only">Email address</label>
                <input type="email" id="email" name="email" ngModel class="form-control" placeholder="Your email"
                    required>
                <br>
                <label for="password" class="sr-only">Password</label>
                <input type="password" id="password" name="password" ngModel class="form-control"
                    placeholder="Your password" required>
                <br>
                <div class="form-roles" *ngFor="let role of Roles">
                    <input class="form-check-input" type="checkbox" id="r_{{role}}" name="r_{{role}}" ngModel>
                    <label class="form-check-label" for="r_{{role}}">
                        {{role}}
                    </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
            </div>
        </form>
    </div>

    <div class="administration-user" *ngFor="let user of Users">
        <h6><strong>User: </strong>{{user.firstName}} {{user.lastName}}</h6>
        <h6><strong>Email: </strong>{{user.email}}</h6>
        <h6><strong>Roles: </strong></h6>
        <ul class="roles">
            <li class="role" *ngFor="let role of user.roles">
                <h6 class="role-name">{{role}}</h6>
            </li>
        </ul>
        <button class="btn btn-lg btn-block btn-edit" (click)="showEditing(user.id)">Edit user</button>

        <button class="btn btn-lg btn-block btn-delete" (click)="showWarning(user.id)">Delete
            user</button>
        <h5 *ngIf="Warning === user.id" class="delete-warning">Are you sure?</h5>
        <button *ngIf="Warning === user.id" class="btn btn-lg btn-block btn-delete"
            (click)="deleteUser(user.id)">Yes</button>
        <button *ngIf="Warning === user.id" class="btn btn-lg btn-block btn-delete" (click)="stopDeleting()">No</button>

        <div *ngIf="Editing === user.id" class="edit-user">
            <form class="form-editing" #editingForm="ngForm" (ngSubmit)="editUser(editingForm, user.id)">
                <div class="container-fluid">
                    <div *ngIf="!validDataForEditing" class="alert alert-danger">All fields are required. First name and
                        last name must be
                        smaller than 50 symbols. Email must be in right form.</div>
                    <br>
                    <label for="firstname" class="sr-only">Fisrt name</label>
                    <input type="text" id="firstname" name="firstname" ngModel class="form-control"
                        placeholder="Your first name" [(ngModel)]="user.firstName">
                    <br>
                    <label for="lastname" class="sr-only">Last name</label>
                    <input type="text" id="lastname" name="lastname" ngModel class="form-control"
                        placeholder="Your last name" [(ngModel)]="user.lastName">
                    <br>
                    <label for="email" class="sr-only">Email address</label>
                    <input type="email" id="email" name="email" ngModel class="form-control" placeholder="Your email"
                        [(ngModel)]="user.email" required>
                    <br>
                    <div class="form-roles" *ngFor="let role of Roles">
                        <input class="form-check-input" type="checkbox" id="r_{{role}}" name="r_{{role}}" ngModel>
                        <label class="form-check-label" for="r_{{role}}">
                            {{role}}
                        </label>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>