<div class="testing-subject">
    <form #testForm="ngForm" (ngSubmit)="addResult(testForm)" novalidate>
        <div *ngIf="!isValid" class="alert alert-danger">All topics are required!</div>
        <div class="testing-subject-item" *ngFor="let entity of list">
            <br>
            <h3 class="testing-subject-header">{{entity.sName}}</h3>
            <div class="form-check" *ngFor="let test of entity.tests">
                <input id="option{{test.id}}" type="radio" class="form-check-input" value="{{test.score}}"
                    name="r{{entity.sId}}" ngModel>
                <label class="form-check-label" for="option{{test.id}}">
                    {{test.text}}
                </label>
            </div>
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
    </form>
</div>